* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
label {
  display: block;
  padding: 10px;
}

input:hover {
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.error-message {
    color: red;
}

.hidden {
  display: none;
}